.chat-container {
    background: url('../public/vbk.png')  center center;/*no-repeat*/
    /*background-size: cover;*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px auto;
    max-width: 90%;
    min-height: 400px;
}

.chat-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.heart-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    margin-top: 10px;
  }
  
  .heart-button.saved {
    color: red;
  }