.imagebox {
  width: 40%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.recipe-image {
  width: 100%;
  height: auto;
  text-align: center;  
  border: rgb(0, 0, 0) solid 1px;
  margin: 0 auto;
}

.button{
  font-size: 16px;
  cursor: pointer;
  font-weight: 900;
  background-color: #6B4F33;
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; /* Center text alignment */
  display: inline-block; /* Ensure the button is inline */
  text-decoration: none; /* Remove any text decoration from link */
}
.button:hover{
  background-color: #a52a2a;
}